@import 'https://fonts.googleapis.com/css?family=Lato:400,700';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: aliceblue;
}

#page{
  position: relative;
}

header{
  position: fixed;
  display: flex;
  background-color: #eee;
  width: -webkit-fill-available;
}

img{
  width: 450px;
  align-items: baseline;
}

#nav-bar{
  align-items: center;
  width: 100%;
  display: flex;
}

.navlist{
  display: inline;
  margin: 25px;
  font-size: large;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover{
  color: orangered;
}

.container {
  padding-top: 100px;
  align-items: center;
  text-align: center;
  }
  
#area{
  margin-bottom: 30px;
  color: orangered;
}

.first{
  margin-bottom: 20px;
  font-size: 170%;
}

.insert{
  display: block;
  font-size: 100%;
  text-align: center;
  margin: 10px auto;
}

#submit{
  margin-bottom: 100px;
}

input{
  width: 50%;
  height: 30px;
}