@import 'https://fonts.googleapis.com/css?family=Lato:400,700';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: aliceblue;
}

#page{
  position: relative;
}

header{
  position: fixed;
  display: flex;
  background-color: #eee;
  width: -webkit-fill-available;
}

img{
  width: 450px;
  align-items: baseline;
}

#nav-bar{
  align-items: center;
  width: 100%;
  display: flex;
}

.navlist{
  display: inline;
  margin: 25px;
  font-size: large;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover{
  color: orangered;
}

.container {
  padding-top: 100px;
  align-items: center;
  text-align: center;
  }
  
#area{
  margin-bottom: 30px;
  color: orangered;
}

.first{
  margin-bottom: 20px;
  font-size: 170%;
}

.insert{
  display: block;
  font-size: 100%;
  text-align: center;
  margin: 10px auto;
}

#submit{
  margin-bottom: 100px;
  width: 18%;
  background-color: rgb(255, 174, 0);
  border-style: none;
  font-weight: bolder;
}

input{
  width: 25%;
  border-radius: 5px;
  height: 30px;
}

#feature{
  display: block;
  font-size: larger;
  margin-bottom: 30px;
}

.h2,p{
  padding-bottom: 40px;
}

iframe{
  width: 40%;
  margin-bottom: 60px;
}

#pricing{
  display: flex;
  align-content: center;
  justify-content: center;
}

.product{
  margin: 40px;
  border-style: solid;
  width: 300px;
}

.level{
  background-color: greenyellow;
  padding-bottom: 20px;
  margin: 0;
}

h2,li{
  text-align: center;
  margin: auto;
  display: block;
  padding: 10px;
}

.btn{
  margin: 10px 0 0px 0;
  width: 100%;
  border-style: none;
  height: 30px;
  background-color: orange;
}

footer{
  background-color: aquamarine;
}

footer > ul{
  display: flex;
}

@media (min-width: 640px) {

  
  
}